#{{name}}.disabled{
  display:flex;
  /* animation-name: {{name}}animateOff; */
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} .type_sm {
    font-size: .2rem;
    line-height: .25rem;
}

#shareSaving, #shareBackground {
  background: black;
}

.whiteBgTrans {
  background: rgba(255,255,255,.8);
}

#shareOnlineBtn {
  transition: opacity ease-in-out .2s;
}

#shareOnlineBtn.disabled {
  opacity: .4;
}

.shareAnimateContainer {
  top:100vh;
}

.shareAnimateContainer.enabled{
  animation-name: animateUpScreen;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  animation-delay: 0s;
  z-index: 1;
  height: 100vh;
}

.shareAnimateContainer.disabled{
  animation-name: animateOffBotton;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  animation-delay: 0s;
  z-index: 1;
  height: 100vh;
}

#{{name}}.disabled .shareAnimateContainer.disabled, #{{name}}.disabled .shareAnimateContainer.enabled {
  animation-name: none;
  animation-duration: 0s;
}

.freezeAnim {
  top: 0vh;
}