#{{name}}.disabled{
  display:flex;
  /* animation-name: {{name}}animateOff; */
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} .countDown, #{{name}} #counter {
	visibility: hidden;
	z-index: 2;
}

#hiddenVideos {
	visibility: hidden;
	display: none;
}

#performPractice, #performPerform{
  position: absolute;
  top:50vh;
  left:50vw;
  transform: translateX(-50%) translateY(-50%);
}

#{{name}} .watermark {
  animation-name: watermark;
  /*top:3vh;
  left:3vh;
  transform: translateX(0%) translateY(0%);*/
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  /*
  position: absolute;
  z-index:15;
  top:0;
  left:0;
  padding: .3rem;
  animation-duration: 1s;
  font-size: .35rem;
  line-height: .44rem;
  width: initial;
  height: initial;
  */
}

#countdownNumber {
  font-size: 6rem;
}

.countdownFade {
  animation-name: fadeOut;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

#{{name}} .watermark div{
  padding: 0;
}

#countdownInput {
  visibility: hidden;
  display: none;
}

#c_three_v, #c_two_v, #c_one_v {
  visibility: hidden;
  display: none;
}

#performPerform {
  visibility: hidden;
  display: none;
}