#{{name}}.disabled{
  display:flex;
  /* animation-name: {{name}}animateOff; */
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} .countDown, #{{name}} #counter {
	visibility: hidden;
	z-index: 2;
}

#hiddenVideos {
	visibility: hidden;
	display: none;
}

#performPractice, #performPerform{
  position: absolute;
  top:50vh;
  left:50vw;
  transform: translateX(-50%) translateY(-50%);
}

#{{name}} .watermark {
  animation-name: watermark;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#countdownNumber {
  font-size: 6rem;
}

.countdownFade {
  animation-name: fadeOut;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

#{{name}} .watermark div{
  padding: 0;
}

#countdownInput {
  visibility: hidden;
  display: none;
}

#performPerform {
  visibility: hidden;
  display: none;
}