/* Reset styles for whole app */

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#adminSwipe {
  visibility: hidden;
  display: none;
}

.button_mini {
    width: auto;
    height: 100%;
    vertical-align: top;
}

.button_sm {
    width: auto;
    height: 100%;
}

.button_med {
    width: auto;
    height: 100%;
}

.button_lg {
    width: auto;
    height: 100%;
}

.logoContainer {
	flex-shrink: 1;
	flex-grow: 0;
	height: 100%;
	padding-right:6vh;
}

/* Attract-specific */
#{{name}}.disabled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffRight;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}


#{{name}}{
	animation-name: animateInLeft;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}}.disabled .canceled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffLeft;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}.fromPrev{
	animation-name: animateInRight;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}} .fillAbs, #{{name}} .fillHalfW {
	height: 85vh;
}

#shareAmBg, #sharePerfBg {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around; /* or space-around */
}

#shareAmBg {
}

#shareAmBg div {
	width: 20%;
}

#shareAmBg img {
	width: 100%;
	opacity: .5;
}

#sharePerfBg {
}

/* #sharePerfBg video {
	width: calc(100% / 3);
	opacity: .5;
} */

#sharePerfBg div {
	width: calc(100% / 2);
}

#sharePerfBg img {
	width: 100%;
	opacity: .5;
}

#shareAm, #sharePerf {
	top:0vh;
}

#sharePerf {
	left:50vw;
}