<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.collins.muppets.Frontend</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/brettrenfer/Dropbox/MMI-Henson/code/openFrameworks/apps/MMI_Interactives/Startup/startup_perf.sh</string>
	</array>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
