# Custom
*.mov
*.mp4
*/node_modules
Webserver/static/output
Webserver/static/vo
Sharing/config.json
Sharing/token.json
*/log

# Defaults
.DS_Store
.AppleDouble
.LSOverride

# Apple / Win executables
*.app
*.exe

# Licensed stuff we shouldn’t post
*.otf
*.ttf

# Xcode
#

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint