/* Overall */
#{{name}} .background {
  background: white;
}

#{{name}} .centeredContainer {
  justify-content:flex-start;
}

#{{name}} {
  text-align: left;
}

#{{name}} .type_sm {
  font-size: .3rem;
  line-height: .4rem;
}

#formContainer {
  height: 70vh;
  width: 100%;
  flex-wrap: wrap;
}

#buttonAdminSave, #buttonAdminCancel {
  transition: opacity ease-in-out .2s;
  text-align: center;
}

#{{name}}Buttons {
  z-index:2; 
  bottom:0; 
  width: 50%; 
  justify-content:space-around;
}

#{{name}}Buttons img{
  width:10vw;
  height:10vw;
}

#buttonAdminSave.disabled {
  opacity: .4;
}