#{{name}} .title{
  padding-bottom: 0;
}

#{{name}}.disabled .twoPartScreen {
  animation-name: animateApart;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

#{{name}}.enabled .twoPartScreen {
  animation-name: animateTogether;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

#spinData, #spinInput{
  visibility: hidden;
  display: none;
}

/* for debuggin */
#{{name}}BgContainer {
	/* background-color:rgba(0,0,0,.5); */
  transition: background-color ease-in-out .25s;
}

#{{name}}BgContainer img {
  height: 100%;
}

#{{name}}.disabled{
  height: 100vh;
  display:flex;
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}


#{{name}}{
  height: 0vh;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode:forwards;
  /* z-index: 0; */
}
