#{{name}}.disabled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffRight;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}} {
	color: black;
}

#{{name}}{
	animation-name: animateInLeft;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}}.canceled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffLeft;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}.fromPrev{
	animation-name: animateInRight;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}} .fillAbs, #{{name}} .fillHalfW {
	height: 85vh;
}

#amContainer {
	overflow: scroll;
}

.shareRow {
	background: #E5E5E5;
	height: 25vh;
	width: 100vw;
}

.srImage {
	height: 100%;
}

.evenRow {
	background: #FFFFFF;
}

.srType {
	width: 60%;
	text-align: left;
}

.srButton {
	width: 20%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 70%;
	flex-grow: 1;
}