#{{name}}.disabled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffRight;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}.canceled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffLeft;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}.fromPrev{
	animation-name: animateInRight;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}}{
	animation-name: animateInLeft;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
	color: black;
}

#{{name}} .fillAbs, #{{name}} .fillHalfW {
	height: 85vh;
}

.srVideo, .srImage {
	width: 100%;
}

.srVideo {
	visibility: hidden;
	display: none;
}

#perfContainer {
	overflow: scroll;
	flex-wrap: wrap;
}