.scriptContainer {
	visibility: hidden;
	display: none;
}

.scriptContainer img {
	height: 100%;
}

.scriptTextContainer {
    padding:8vh;
    text-align: left;
}

#promptOpenDrawers, #promptSpinPuppet {
/* 	visibility: hidden;
	display: none; */
	top: 0px;
	left: 0px;
	height: 0vh;
}

#promptOpenDrawers.visible, #promptSpinPuppet.visible {
	animation-name: animateIn;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
}

#promptOpenDrawers.hideMe, #promptSpinPuppet.hideMe {
	animation-name: animateOff;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

#done {
	visibility: hidden;
	display: none;
}

#{{name}}.disabled{
  display:flex;
  animation-name: animateOff;
  /* animation-name: hide; */
  /* animation-delay: 1s; */
  animation-duration:1s;
  animation-fill-mode:forwards;
}


#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}