#{{name}} .background {
  background: rgb(45, 34, 70);
}

#{{name}} .title{
  padding-bottom: 0;
  color: white;
}

#{{name}}.disabled{
  display:flex;
  animation-name: animateOff;
  animation-duration:1s;
  animation-fill-mode:forwards;
}


#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}