#{{name}}.disabled{
  display:flex;
  animation-name: animateOff;
  animation-fill-mode:forwards;
}

#{{name}}.disabled.special{
  animation-delay:1s;
}

#{{name}} .background {
  background: rgb(45, 34, 70);
}

#{{name}} .title{
  padding-bottom: 0;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} .container{
	z-index:2; 
	justify-content:space-around;
}