#{{name}}.disabled{
  display:flex;
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode:both;
}

#{{name}} .background {
  background: rgb(45, 34, 70);
}

#{{name}} .title{
  padding-bottom: 0;
  color: white;
}