#{{name}}.disabled{
  display:flex;
  animation-name: animateOff;
  /* animation-name: hide; */
  /* animation-delay: 1s; */
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} video {
    width: {{math 100 "/" videos.length}}%;
    margin: .5%;
    transition: all ease-in-out .25s;
    position: relative;
}

.selectOverlay {
  height: 100%;
  background: #56b79e;
  opacity: .7;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

#overlayContainer video {
  width:100%;
  margin: 0;
}

.selectOverlay.disabled {
  opacity: 0;
}

#selectTextContainer {
  background: rgb(30,30,30);
}

/* Override for 'big' video */
#{{name}} .mainVideo {
  height: 100%;
  width: auto;
  margin:0;
  top: 0px;
}

.videoContainer {
  position: relative;
  margin: .5%;
  transition: all ease-in-out .25s;
  position: relative;
}

.bigVideoCont{
  opacity: 0;
  transition: opacity ease-out .5s;
}

#select_clips {
	visibility: hidden;
	display: none;
}


#select_intro {
  opacity: 1;
  transition: opacity ease-out .5s;
  pointer-events: none;
  z-index: 10;
}

#select_intro .previewing {

}

#select_intro.disabled {
  opacity: 0;
}

#selectButtons{
  opacity: 0;
  transition: opacity ease-out .25s;
}
#selectButtons.enabled{
  opacity: 1;
}

#{{name}} .centerButtons {
	height: 50%;
	display: flex;
	align-items: flex-end;
}

#{{name}} .button {
	height:20vh;
	display: flex;
	align-items: flex-start;
  pointer-events:all;
}