#{{name}}.disabled{
  display:flex;
  animation-name: animateOff;
  /* animation-name: hide; */
  /* animation-delay: 1s; */
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} video {
    height: 80%;
    margin: .5%;
}

#select_clips {
	visibility: hidden;
	display: none;
}

#videoContainer {
    height: 250%;
}

#{{name}} .centerButtons {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

#{{name}} .button {
	height:20vh;
	display: flex;
	align-items: flex-start;
}