/* Overall */
#{{name}} .background {
	background: white;
}

#{{name}} .centeredContainer {
	justify-content:flex-start;
}

#buttonAdminSave {
  transition: opacity ease-in-out .2s;
}

#buttonAdminSave.disabled {
  opacity: .4;
}

#{{name}}Buttons{
  position:fixed;
  bottom:0;
  z-index:2;
  width:50%; 
  justify-content:space-around;
}

#{{name}}Buttons img{
  width:10vw;
  height:10vw;
}