#{{name}}.disabled{
  display:flex;
  animation-name: animateOff;
  /* animation-name: hide; */
  /* animation-delay: 1s; */
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#{{name}}{
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}

#{{name}} video {
    height: {{math 100 "/" videos.length}}%;
    margin: .5%;
    transition: all ease-in-out .5s;
    position: relative;
}

#select_clips {
	visibility: hidden;
	display: none;
}

#videoContainer {
    height: 250%;
}

#select_intro {
  opacity: 1;
  transition: opacity ease-out .5s;
  pointer-events: none;
  z-index: 10;
}

#select_intro.disabled {
  opacity: 0;
}

#{{name}} .centerButtons {
	height: 70%;
	display: flex;
	align-items: flex-end;
}

#{{name}} .button {
	height:20vh;
	display: flex;
	align-items: flex-start;
  pointer-events:all;
}

/* Animations */
#selectBtnsUp, #selectBtnsDown {
  left:0px;
  top:0px;
  pointer-events:none;
  animation: animateDownTop;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#selectBtnsUp.disabled {
  animation-name: animateOffTop;
}

#selectBtnsDown.disabled {
  animation-name: animateOffBottom;
}

#selectBtnsDown {
  animation-name: animateUpScreen;
}