{
  "source":"/media/quin/data1/appsubu/openFrameworks_master/apps/MMI_Interactives/Webserver/static/output/",
  "destination":"/media/quin/data1/docs/collins/muppets/repo/media/",
  "cleanupMins":30
}
