{
  "sync":{
    "source":"/Users/install/Documents/MMI_Interactives/Webserver/static/output/",
    "destination":"/Users/install/Documents/MMI_Interactives/media/",
    "exclude":[]
  },
  "cleanup":{
    "mins":30,
    "exclude":[]
  }
}
