#{{name}}.disabled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffRight;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}


#{{name}}{
	animation-name: animateInLeft;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
  	color: black;
}

#{{name}}.canceled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffLeft;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}.fromPrev{
	animation-name: animateInRight;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}} .fillAbs, #{{name}} .fillHalfW {
	height: 85vh;
}

#{{name}} input {
    width: 94%;
    border: 0px;
    border-bottom: 1px solid #56b79e;
}

#amEmSh {
	visibility: hidden;
	display: none;
}

#amEmShare {
	width: 33%;
	height: 100%;
	overflow: hidden;
}

#amEmShare img {
	height: 100%;
}

#amEmInfo div {
	flex-shrink: 0;
	width: 100%;
}

#amEmInfo {
	width: 67%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	line-height: 0;
}

#amEmEm {
	justify-content: flex-start;
    flex-direction: row;
    display: flex;
}

#amEmEm div, #amEmSh div {
	flex-shrink: 1;
	width: 70%;
}

#amEmSh .topCenteredContainer, #amEmEm .topCenteredContainer {
	padding-left: 4vw;
	height: 19vh;
	width: 60%;
	justify-content: flex-end;
}

#amOnlineBtn {
  transition: opacity ease-in-out .2s;
}

#amOnlineBtn.disabled {
  opacity: .4;
}
