#{{name}} .background{
	background-color: rgba(0,0,0,50);
}

/* Transition off */
#{{name}}.disabled{
  display:flex;
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}

/* Transition to AM photo */
#{{name}}.special{
  display:flex;
  animation-name: animateOff;
  animation-delay: 0s;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

/* Main animation in */
#{{name}} {
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}
