#{{name}} .background{
	background-color: rgba(0,0,0,50);
}

#breakButton.{{name}} {
  animation-name:animateBreakOn;
  animation-duration:1s;
}

/* Transition off */
#{{name}}.disabled{
  display:flex;
  /* animation-name: {{name}}animateOff; */
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}

/* Transition to AM photo */
#{{name}}.special{
  display:flex;
  animation-name: animateOff;
  animation-delay: 0s;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

/* Main animation in */
#{{name}} {
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

/* Animate buttons in/out */

#{{name}}Buttons.disabled {
  animation-name: animateOffTop;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#{{name}}Buttons.enabled {
  animation-name: animateDownTop;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

/* Video: lock to size */
.introVideo {
  /* 
  The video is 1080x1920; will scale up but 
  shouldn't scale down below its default size
   */
  min-width: 1080px;
}
