#{{name}} .background{
	background-color: rgba(0,0,0,50);
}

#{{name}}.disabled{
  display:flex;
  /* animation-name: {{name}}animateOff; */
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}

#{{name}} {
  animation-name: animateIn;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

#{{name}}Buttons.disabled {
  animation-name: animateOffBotton;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

#{{name}}Buttons.enabled {
  animation-name: animateUpScreen;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}