/* Overall */

@font-face {
    font-family: SouvenirLight;
    src:url("../fonts/ITCSouvenirLight.ttf");
}

@font-face {
    font-family: SouvenirLight;
    font-weight: bold;
    src:url("../fonts/ITCSouvenirMedium.ttf");
}

html, body {
    font-family: SouvenirLight;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-size: 140px;
    background: rgba(0,0,0,0);
    line-height: 1.1rem;
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
  html, body {
    font-size: 100px;
  }
}
@media (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
}

/* New */

.container {
    padding:3vh;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.button_sm {
    width: 23vw;
    height: 23vw;
}

.button_lg {
    width: 75vw;
    height: 75vw;
}

.padding_sm {
    padding-bottom: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.padding_med {
    padding-bottom: 3vh;
}

.title {
    padding-bottom: 30vh;
}

.spacer_intro {
    width: 100%;
    height: 33%;
}

/* 1080 x 1920 */

.type_sm {
    font-size: .30rem;
    line-height: .38rem;
}

.type_med {
    font-size: .45rem;
    line-height: .54rem;
}

.type_lg {
    font-size: .80rem;
    line-height: .96rem;
}

/* 800 x 1280 */

@media (max-width: 800px) {

}

.column_23 {
    width: 80%;
}

/* Page 3: Script */

#scriptPage img {
    height: 100%;
}

#scriptTextContainer {
    padding:8vh;
    text-align: left;
}

#scriptInfoContainer{
    background: rgba(112,181,159,.9 );
}

/* Page 4: Open; */

/* Page 6: Share */
#shareCopy {
    text-align: left;
}

#shareContInternal {
    /* variation of parchment, semi-opaque */
    background: rgba(247,244,239,.7);
}

.shareCopyBlock {
    min-height:20vh;
    width:50%;
    padding: 3vw;
}

/* Utilities */

.fill {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fillAbs {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.fillContainer {
    width: 100%;
}

.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenteredContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bottomCenteredContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/* Fills */

.parchBg {
    background: #f7f4ef;
}

.yellowBg {
    background: #E2BD47;
}

.fillGreen {
    color:#56b79e;
}

.fillGrey {
    color:rgb(100,100,100);
}

.greenBg {
    background-color:#56b79e;
}

.redBg {
    background-color: #DF6252;
}

/* Share end screen */

#shareRow {
    height: 50%;
    width: 100%;
    background: wheat;
}

#shareImageRight, #shareImageLeft {
    width: 50%;
    /* temp */
    height: 100%; 
    float: left;
    display: flex;
    flex-direction: column;
    font-size:.4rem;
    line-height: .44rem;
}

#shareImageRight img {
    width: 100%;
    /* temp */
    height: 100%; 
}
 #shareImageLeft img {
    width: 50%;
    /* temp */
    height: 100%; 

 }

#shareFinalAbout {
    background: #553C58;
    color: white;
    font-size:.3rem;
    line-height: .33rem;
    padding: .6rem;
}

.cdNumber {
    height: 33%;
}

.share {
    font-size:.5rem;
    line-height: .55rem;
    background: rgba(245, 246, 246,.75);
    color: black;
}

.share .button {
    color: white;
    font-size:.6rem;
    line-height: .66rem;
    margin: .6rem;
    padding: .25rem;
    min-width: 25%;
}

#shareThanks {
    margin:2rem;
}

#shareStartOverButton {
}

#shareStartOverRow {
    width: 100%;
}