//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

//ICONS - NEW IN 0072 
ICON_NAME_DEBUG = icon-debug.icns
ICON_NAME_RELEASE = icon.icns
ICON_FILE_PATH = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/

//IF YOU WANT AN APP TO HAVE A CUSTOM ICON - PUT THEM IN YOUR DATA FOLDER AND CHANGE ICON_FILE_PATH to:
//ICON_FILE_PATH = bin/data/

LIBDC_HEADERS = addons/ofxLibdc/libs/dc1394 addons/ofxLibdc/libs/dc1394/include addons/ofxLibdc/libs/dc1394/include/dc1394 addons/ofxLibdc/libs/dc1394/include/dc1394/vendor addons/ofxLibdc/libs/dc1394/lib addons/ofxLibdc/libs/dc1394/lib/osx addons/ofxLibdc/libs/libusb addons/ofxLibdc/libs/libusb/include "addons/ofxLibdc/libs/libusb/include/libusb-1.0" addons/ofxLibdc/libs/libusb/lib addons/ofxLibdc/libs/libusb/lib/osx "addons/ofxLibdc/src" addons/ofxLibdc/libs

LIBDC_LIBS = "addons/ofxLibdc/libs/dc1394/lib/osx/libdc1394.a" "addons/ofxLibdc/libs/libusb/lib/osx/libusb-1.0.a"

OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_CORE_FRAMEWORKS) $(LIBDC_LIBS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) src $(LIBDC_HEADERS)