#{{name}} .title{
  padding-bottom: 0;
}

#{{name}}.disabled #{{name}}Text {
  animation-name: animateApart;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

#{{name}}.enabled #{{name}}Text {
  animation-name: animateTogether;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: both;
}

/* for debuggin */
#{{name}}BgContainer {
	/* background-color:rgba(0,0,0,.5); */
  transition: background-color ease-in-out .25s;
}

#{{name}}BgContainer img {
  height: 100%;
}

#{{name}}.disabled{
  height: 100vh;
  display:flex;
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}


#{{name}}{
  height: 0vh;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode:forwards;
}
