/* for debuggin */
#captureBgContainer {
	/* background-color:rgba(0,0,0,.5); */
}

#captureBgContainer img {
  height: 100%;
}

#shareContainer, #retakeContainer, #countdownContainer {
	visibility: hidden;
	display: none;
}

#shareContainer {
  background: rgba(255,255,255,.5);
}

#c_three, #c_two, #c_one {
	visibility: hidden;
	display: none;
}

#{{name}}.disabled{
  height: 100vh;
  display:flex;
  /* animation-name: {{name}}animateOff; */
  animation-name: hide;
  animation-delay: 1s;
  animation-duration:0s;
  animation-fill-mode:forwards;
}


#{{name}}{
  height: 0vh;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode:forwards;
  z-index: 0;
}