/* Overall */

@font-face {
    font-family: SouvenirLight;
    src:url("../fonts/ITCSouvenirLight.ttf");
}

@font-face {
    font-family: SouvenirLight;
    font-weight: bold;
    src:url("../fonts/ITCSouvenirMedium.ttf");
}

html, body {
    font-family: SouvenirLight;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    font-size: 140px;
    background: rgba(0,0,0,0);
    line-height: 1.1rem;
    color: white;
    text-align: center;
}

/* Performance */
@media (max-height: 1024px) {
  html, body {
    font-size: 100px;
  }
}

@media (max-width: 800px) {
  html, body {
    font-size: 100px;
  }
}

@media (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
}

/* Overall */

body,
#liveView,
#pages,
#overlay {
  position:absolute;
  width: 100vw;
  height: 100vh;
}

/* Shared Animations */

@keyframes animateIn {
    from {
        height:0%;
    }
    to {
        height:100%;
    }
}
@keyframes animateOff {
    from {
        height:100%;
    }
    to {
        height:0%;
    }
}

@keyframes animateUp {
    from {
        height:0%;
        top:100%;
    }
    to {
        height:100%;
        top:0%;
    }
}

@keyframes hide {
    from {
        z-index: 0;
    }
    to {
        /* display:none; */
        height:0%;
        z-index: 0;
    }
}

/* Container specifies default padding */
.container {
    padding:3vh;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.button_mini {
    width: 8vw;
    height: 8vw;
}

.button_sm {
    width: 23vw;
    height: 23vw;
}

.button_lg {
    width: 75vw;
    height: 75vw;
}

@media (max-height: 1024px) {
    .button_sm {
        width: 160px;
        height: 160px;
    }
    .button_lg {
        width: 600px;
        height: 600px;
    }
}

.padding_sm {
    padding-bottom: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.padding_med {
    padding-bottom: 20vh;
}

.title {
    padding-bottom: 30vh;
}

.spacer_intro {
    width: 100vw;
    height: 33%;
}

/* 1080 x 1920 */

.type_sm {
    font-size: .30rem;
    line-height: .38rem;
}

.type_med {
    font-size: .45rem;
    line-height: .54rem;
}

.type_lg {
    font-size: .80rem;
    line-height: .96rem;
}

/* 800 x 1280 */

@media (max-width: 800px) {

}

.column_23 {
    width: 80%;
}

/* Specific sections */

/*******************************************************
    PERFORMANCE
*******************************************************/

#videoContainer {
    height: 250%;
}

/*******************************************************
    AMS
*******************************************************/

/* Page 3: Script */

#scriptPage img {
    height: 100vh;
}

#scriptTextContainer {
    padding:8vh;
    text-align: left;
}

#scriptInfoContainer{
    background: rgba(112,181,159,.9 );
}

/* Page 4: Open; */

/* Page 6: Share */
#shareCopy {
    text-align: left;
}

#shareContInternal {
    /* variation of parchment, semi-opaque */
    background: rgba(247,244,239,.7);
}

.shareCopyBlock {
    min-height:20vh;
    width:50%;
    padding: 3vw;
}

/* Performance */
@media (max-height: 1024px) {
    .shareCopyBlock {
        min-height:20vh;
        width:50%;
        padding: 1vw;
    }
}
/* Utilities */

.fill {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fillH{
    height: 100vh;
}

.page {
    z-index: 1;
}

.fillAbs, .page, .background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index:1;
}

.fillContainer {
    width: 100vw;
}

.rightContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenteredContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bottomCenteredContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/* Fills */

.blackBg {
    background: black;
}

.parchBg {
    background: #f7f4ef;
}

.yellowBg {
    background: #E2BD47;
}

.fillGreen {
    color:#56b79e;
}

.fillGrey {
    color:rgb(100,100,100);
}

.greenBg {
    background-color:#56b79e;
}

.redBg {
    background-color: #DF6252;
}

.purpleBg {
    background-color:#523A55;
}

.blueBg {
    background: #405eab;
}

.clearBg {
    background-color:rgba(0,0,0,0);
}

.whiteBg {
    background: white;
}

.greyBg {
    background: rgb(245, 246, 246);
}

/* Performance */

#selectPage video {
    height: 80%;
    margin: .5%;
}

#selectPage .button {
    margin-bottom: 3rem;
}


#admin {
    color: black;
    font-size: .75rem;
}

#admin .button {
    color: white;
    min-width: 20%;
    margin-bottom: .5rem;
}

.fillCrop {
    width: 100vw;
    height: 100vh;
}

#cdContainer img {
    width: 15%;
    opacity: .5;
    margin: 1rem;
}

.adminBtnContainer {
    width: 50%;
}

.trContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.bcContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#endText {
}

#introVideo video {
    height: 100vh;
}

.adminButtons {
    height: 80%;
}