/* Overall */

@font-face {
    font-family: SouvenirLight;
    src:url("../fonts/ITCSouvenirLight.ttf");
}

@font-face {
    font-family: SouvenirLight;
    font-weight: bold;
    src:url("../fonts/ITCSouvenirMedium.ttf");
}

html, body {
    font-family: SouvenirLight;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    font-size: 140px;
    background: rgba(0,0,0,0);
    line-height: 1.1rem;
    color: white;
    text-align: center;
}

/* Performance */
@media (max-height: 1024px) {
  html, body {
    font-size: 100px;
  }
}

@media (max-width: 800px) {
  html, body {
    font-size: 100px;
  }
}

@media (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
}

/* Overall */

body,
#liveView,
#pages,
#overlay {
  position:absolute;
  width: 100vw;
  height: 100vh;
}

.hang_punctuation {
  margin-left: -.5em;
}

/* Shared Animations */

@keyframes animateIn {
    from {
        height:0vh;
    }
    to {
        height:100vh;
    }
}
@keyframes animateOff {
    from {
        height:100vh;
    }
    to {
        height:0vh;
    }
}

@keyframes animateUpScreen {
    from {
        top:100vh;
    }
    to {
        top:0vh;
    }
}
@keyframes animateOffBotton {
    from {
        top:0vh;
    }
    to {
        top:100vh;
    }
}

@keyframes hide {
    from {
        z-index: 0;
    }
    to {
        /* display:none; */
        height:0%;
        z-index: 0;
    }
}

/* Top-level pages */


#liveView{
  display:block;
  align-items:center;
  justify-content:center;
  height:100vh;
  width:100vw;
  overflow: hidden;
  visibility: hidden;
  display: none;
}

#liveView img {
  position: absolute;
}

#loading{
  background-color:black;
  color:white;
  align-items: center;
}

/* .page .container{
  position:absolute;
  height:100vh;
  width:100vw;
  overflow:hidden;
  display:flex;
  flex-direction:column;
} */

.page .container .content{
  flex-grow:4;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.page .container .buttons{
  display:flex;
  flex-grow:1;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
}

.page.disabled{
  display:none;
  z-index: 0;
}

.page .container .buttons div{
  border-style:solid;
  border-color:white;
  border-width:1px;
  padding:10px;
  background-color:lightblue;
}

.page .container .buttons .next{
  background-color:lightgreen;
}

.page .container .buttons .prev{
  background-color:pink;
}

.page .container .buttons .cancel{
  background-color:red;
}

/* Container specifies default padding */
.container {
    padding:3vh;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.button_mini {
    width: 8vw;
    height: 8vw;
}

.button_sm {
    width: 23vw;
    height: 23vw;
}

.button_med {
    width: 30vw;
    height: 30vw;
}

.button_lg {
    width: 75vw;
    height: 75vw;
}

@media (max-height: 1024px) {
    .button_sm {
        width: 160px;
        height: 160px;
    }
    .button_lg {
        width: 600px;
        height: 600px;
    }
}

.padding_sm {
    padding-bottom: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.padding_med {
    padding-bottom: 20vh;
}

.title {
    padding-bottom: 30vh;
}

.spacer_intro {
    width: 100vw;
    height: 33%;
}

/* 1080 x 1920 */

.type_micro {
    font-size: .1rem;
    line-height: .13rem;
}

.type_mini {
    font-size: .15rem;
    line-height: .24rem;
}

.type_sm {
    font-size: .35rem;
    line-height: .44rem;
}

.type_med {
    font-size: .45rem;
    line-height: .54rem;
}

.type_lg {
    font-size: .80rem;
    line-height: .96rem;
}

/* 800 x 1280 */

@media (max-width: 800px) {

}

.column_23 {
    width: 80%;
}

/* Specific sections */

/*******************************************************
    Share
*******************************************************/

.header {
  height: 15vh;
}

/*******************************************************
    Common sections
*******************************************************/

#shareCopy {
    text-align: left;
}

.shareCopyBlock {
    min-height:20vh;
    width:50%;
    padding: 3vw;
}

/* Performance */
@media (max-height: 1024px) {
    .shareCopyBlock {
        min-height:20vh;
        width:50%;
        padding: 1vw;
    }
}

/*******************************************************
    Utilities
*******************************************************/

.topL {
    top: 0vw;
    left: 0vh;
}

.fill {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fillH{
    height: 100vh;
}

.page {
    z-index: 1;
}

.fillAbs, .page, .background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index:1;
}

.fillHalfW {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index:1;
}

.fillContainer {
    width: 100vw;
}

.rightContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.leftContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenteredContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bottomCenteredContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/* Fills */

.blackBg {
    background: black;
    color: white;
}

.parchBg {
    background: #f7f4ef;
}

.yellowBg {
    background: #E2BD47;
}

.fillGreen {
    color:#56b79e;
}

.fillGrey {
    color:rgb(100,100,100);
}

.greenBg {
    background-color:#56b79e;
}

.redBg {
    background-color: #DF6252;
}

.purpleBg {
    background-color:#523A55;
}

.blueBg {
    background: #405eab;
}

.clearBg {
    background-color:rgba(0,0,0,0);
}

.whiteBg {
    background: white;
}

.greyBg {
    background: rgb(245, 246, 246);
}

/* Performance */

#admin {
    color: black;
    font-size: .75rem;
}

#admin .button {
    color: white;
    min-width: 20%;
    margin-bottom: .5rem;
}

.fillCrop {
    width: 100vw;
    height: 100vh;
}

#cdContainer img {
    width: 15%;
    opacity: .5;
    margin: 1rem;
}

.adminBtnContainer {
    width: 50%;
}

.trContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.bcContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#endText {
}

.adminButtons {
    height: 80%;
}