#{{name}}.disabled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffRight;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}{
	animation-name: animateInLeft;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
  	color: black;
}

#{{name}}.canceled{
	display:block;
	  /* animation-name: {{name}}animateOff; */
    animation-name: animateOffLeft;
    /* animation-delay: 1s; */
	animation-duration:1s;
	animation-fill-mode:forwards;
}

#{{name}}.fromPrev{
	animation-name: animateInRight;
  	animation-duration: 1s;
  	animation-fill-mode:forwards;
  	z-index: 1;
}

#{{name}} .fillAbs, #{{name}} .fillHalfW {
	height: 85vh;
	overflow: scroll;
}

#{{name}} input {
    width: 94%;
    border: 0px;
    border-bottom: 1px solid #56b79e;
}

#pEmShare {
	width: 100%;
	height: 100%;
	overflow: hidden;
    z-index: 0;
}

#pEmShare video {
	height: 100%;
}

#pEmInfo div {
	flex-shrink: 0;
	width: 100%;
}

#pEmInfo {
    top: 15vh;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	line-height: 0;
	z-index: 1;
	transition: all ease-in-out .1s;
}

#pEmInfo > #spacer {
	flex-shrink: 0;
    width: 100%;
    height: 100vh;
}

#pEmEm {
	justify-content: flex-start;
    flex-direction: row;
    display: flex;
}

#pEmEm div, #pEmSh div {
	flex-shrink: 1;
	width: 50%;
}

#pEmSh .topCenteredContainer, #pEmEm .topCenteredContainer {
	padding-left: 4vw;
	height: 19vh;
	width: 60%;
	justify-content: flex-end;
}

#shareEmOnlineBtn {
  transition: opacity ease-in-out .2s;
}

#shareEmOnlineBtn.disabled {
  opacity: .4;
}